* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.section-one {
    background-color: #1f2937;
    padding: 18px 126px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
}
ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    column-gap: 20px;
}

.logo {
    color: #f9faf8;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.main{
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 86px 0;
    padding: 16px 0;
}

.main-1 {
    flex-basis: 450px;
}

.main-button {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 10px;
    border: none;
    text-align: center;
    padding: 8px 34px;
    font-size: 18px;
    margin: 10px 0px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.section-one p {
    font-size: 18px;
    color: #e5e7eb;
}

h2 {
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
    padding: 50px 0;
}

.cards {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.cards-box {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border-color: #3882f6;
    border-style: solid;
    border-width: 4px;
}

.cards div {
    width: 150px;
    height: 150px;
    margin: 0 30px;
}

.cards p {
    text-align: center;
    color: #1f2937;
}

.section-three {
    background-color: #e5e7eb;
    padding: 100px 250px;
}

.quote {
    font-weight: 300;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote span {
    display: block;
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    text-align: end;
}

.box {
    display: flex;
    margin: 100px 125px;
    background-color: #3882f6;
    padding: 50px 125px;
    border-radius: 15px;
    color: #f9faf8;
    justify-content: space-between;
}

.box-head {
    font-size: 24px;
    font-weight: 700;
}

.box button {
    color: #f9faf8;
    background-color: #3882f6;
    border: #f9faf8;
    border-style: solid;
    border-radius: 8px;
    padding: 5px 32px;
    align-self: center;
    font-size: 18px;
    font-weight: 700;
}

footer {
    background-color: #1f2937;
    justify-content: center;
    text-align: center;
    color: #e5e7eb;
    padding: 36px;
    font-size: 18px;
}